<!DOCTYPE html>
<html>
  <head>
    <title>Rails Intro 999</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div>
      <ul>
        <li>
          <%= link_to 'Home' , root_path, style: "text-decoration: underline;" %>
        </li>
        <li>
          <%= link_to 'About Us' , about_path, style: "text-decoration: underline;" %>
        </li>
        <li>
          <%= link_to 'Contact Us' , contact_path, style: "text-decoration: underline;" %>
        </li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
